@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #333;
}
.navbar {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  color: black;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.navbar a {
  text-decoration: none;
  color: black;
}
.navbar a.navbar-brand {
  float: left;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
.navbar a.navbar-brand span {
  font-size: 28px;
  font-weight: 700;
}
.navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 50px;
}
.navbar ul li a:hover {
  background-color: rgba(255,255,255,0.15);
}
.navbar .navbar-toggler {
  display: none;
}

.intro {
  width: 100%;
  height: 100vh;
  background: url("https://source.unsplash.com/GYQBryEWh0Y/") no-repeat center center;
  background-size: cover;
  background-color: #000;
}
.container {
  position: relative;
  height: 100vh;
  color: #fff;
}
.container h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20vh;
}
#html { background-color: #e34f26; }
#css { background-color: #002561; }
#javascript { background-color: #333; }

@media (max-width: 991px) {
  .navbar ul {
    padding: 0 10px;
  }
  .navbar ul li a {
    min-width: 100px;
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 0;
  }
  .navbar ul {
    width: 100%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9);
    /* height: auto; */
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
  }
  .navbar ul.open {
    max-height: 100vh;
  }
  .navbar ul li {
    width: 100%;
    /* border-bottom: 1px solid rgba(255,255,255,0.3); */
  }
  .navbar ul li a {
    padding: 0;
  }
  .navbar .navbar-toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: black;
    border: 3px solid #fff;
    /* border: none; */
    /* border-radius: 4px; */
    outline: none;
    padding: 0 5px;
    cursor: pointer;
  }
  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: '';
    background-color: black;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }
  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }

  .navbar .navbar-toggler.open-navbar-toggler span {
    /* transform: rotate(90deg); */
    background-color: transparent;
    /* transform: scale(0.85) rotate(270deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
    /* transform: translateY(0px) scale(0.75) rotate(45deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
    /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
  }
}


/* Font */

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


.main {
  max-width: 1200px;
  margin: 100px auto 0; /* Add 100px top margin */
}
.main {
  max-width: 1200px;
  margin: 100px auto 50px; /* 50px bottom margin added */
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: 300px;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #000000;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  background: transparent;
}
.card_btn a{
  text-decoration: none;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  /*background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);*/
  background: #ffffff;
}

.card_title {
  color:black;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: black;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
.footer-container {

  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  flex-wrap: wrap;
  margin-top: 50px; /* 50px top margin added */
}

footer {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);

    padding: 40px 0;

}

.footer-container {

    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-section h3 {
    margin-bottom: 20px;
    font-size: 18px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #0c0404;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section .contact p {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-section .contact p i {
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    /*background-color: #003d4d; !* Pastki qismning quyuqroq foni *!*/
    margin-top: 20px;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}

/* Define the background color when the class is active */
.background-changed {
    background-color: #f0f8ff; /* Change to your desired color */
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

